{% load menu_tags %}

{% for child in children %}
  <li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
        {{ child.get_menu_title }}
    </a>
  </li>
{% endfor %}
